<select id="sortie" ng-model="sortie">
  <option value="-1 * profitPotential">Sort By Profit Potential</option>
  <option value="name">Sort By Name</option>
  <option value="markup">Sort By Markup</option>
</select>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Profit Potential</th>
      <th>Item</th>
      <th>jita-sell</th>
      <th>jita-buy</th>
      <th>Historical Average</th>
      <th>Markup</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in view.wrapArr | orderBy: sortie">
      <td>{{item.profitPotential | number: 3}}</td>
      <td>{{item.name}}</td>
      <td>{{item.sell | number: 2}}</td>
      <td>{{item.buy | number: 2}}</td>
      <td>{{item.histAvg | number: 3}}</td>
      <td>{{item.markup | number: 3}}</td>
    </tr>
  </tbody>
</table>
