<select id="sortie" ng-model="sortie">
  <option value="-profitPotential">Sort By Profit Potential</option>
  <option value="name">Sort By Name</option>
  <option value="-markup">Sort By Markup</option>
</select>
<select id="region" ng-model="regionFilter">
  <option value="jita" selected>Jita</option>
  <option value="amarr">Amarr</option>
  <option value="dodixie">DoDixie</option>
</select>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Profit Potential</th>
      <th>Item</th>
      <th>{{regionFilter}}-sell</th>
      <th>{{regionFilter}}-buy</th>
      <th>Historical Average</th>
      <th>Markup</th>
    </tr>
  </thead>
  <tbody>
     <tr ng-repeat="item in view.wrapArr | orderBy: sortie" ng-show="item.regName === regionFilter">
      <td>{{item.profitPotential | number: 3}}</td>
      <td>{{item.name}}</td>
      <td>{{item.sell | number: 2}}</td>
      <td>{{item.buy | number: 2}}</td>
      <td>{{item.histAvg | number: 3}}</td>
      <td>{{item.markup | number: 3}}</td>
    </tr>
  </tbody>
</table>
